body{
    font-family: "Poppins", sans-serif;
    font-size:16px;
}
.logo{
    width:100%;
    -webkit-transform: rotate(-7deg); /* Safari */
    transform: rotate(-7deg);
    padding-bottom: 50px;
}
.w3-main{
    background-image: url("assets/Asphaltweb.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.link{
    width: 50%;
}
.news{
    background-image: url("assets/Asphaltweb.png");
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.social-media{
    padding-top: 40px;
    padding-left: 5%;
}
body{
    background-color: rgb(35, 35, 35);
}
.w3-sidebar{
    background-color: rgb(35, 35, 35);
}
.header{
    color: #fff;
}
.shows{
    color: #000;
}
.mobile-logo{
    width:25%;
}
.twitter{
    display:flex;justify-content:center;align-items:center;
}
@media only screen and (max-width: 992px){
    .logo{
        display: none;
    }
    .mobile-logo{
        display:flex;justify-content:center;align-items:center;
    }
}